{% load static %} {% load bootstrap4 %} {%load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar productos/servicios</title>
    {% bootstrap_css %}
    <link rel="shortcut icon" type="image/png" href="{% static 'AppWeb/img/logo.png' %}">
    <link rel="stylesheet" href="{% static 'AppWeb/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <script src="{% static 'AppWeb/js/jquery-3.6.0.js' %}"></script>
    <script src="{% static 'AppWeb/js/script.js'%}" type="text/javascript"></script>
</head>

<body style="background-color:#ffffff;">
    <div id="divlist">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Stock</th>
                </tr>
            </thead>
            <tbody>
                {% for p in producto%}
                <tr>
                    <td>{{p.imagen}}</td>
                    <td>{{p.nombre}}</td>
                    <td>{{p.precio}}</td>
                    <td>{{p.stock}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <a href="{% url 'registrarProductos'%}">
            Registrar Producto/Servicio
        </a>
    </div>
    <footer class="bg-dark text-white footer ">
        <div class="container">
            <nav class="row">
                <a href="{% url 'home'%}" class="col-3 text-reset text-uppercase d-flex align-items-center ">
                    <img src="{% static 'AppWeb/img/logo-entel.png' %}" width="90" height="80" alt="Logo GroupZero" class="img-logo mr-2">
                </a>
                <ul class="col-3 list-unstyled">
                    <li class="font-weight-bold text-uppercase">Problemas</li>
                    <li><a href="{% url 'home'%}" class="text-reset">Condiciones de Servicio</a></li>
                </ul>
                <ul class="col-3 list-unstyled">
                    <li class="font-weight-bold text-uppercase">Conoce Sobre Nosotros</li>
                    <li><a href="#" class="text-reset">Nuestra Meta</a></li>
                </ul>
                <ul class="col-3 list-unstyled">
                    <li class="font-weight-bold text-uppercase">Redes Sociales</li>
                    <li>
                        <a href="https://web.facebook.com/?_rdc=1&_rdr" class="text-reset">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" class="text-reset">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.twitch.tv/directory/following" class="text-reset">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                </ul>
                <p class="col-12 text-center h6">© All right Reversed.</p>
            </nav>
        </div>
        <br>
    </footer>
</body>

</html>